:root{
  --primary-color: #147E95;
  --light-color: #F9F9F9;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: visible;
  box-sizing: border-box;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: visible;
  font-family: 'Rasa', serif;
  font-size: 1.2rem;
  background: radial-gradient(69.39% 69.39% at 50% 50%, #EBEBEB 39.58%, #CDCDCD 100%);
  color: black;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 650px)  {
  html, body, .background-txt {
    height: 120vh;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

a:hover, button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

button {
  border-radius: 0;
  border: none;
  background: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline:none;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  color: rgb(60, 60, 60);
  font-size: 2.5rem;
  font-family: 'Calistoga', cursive;
  font-weight: 400;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .4rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
  line-height: 1.15;
}

@media only screen and (max-width: 650px)  {

  h1 {
    font-size: 1.6rem;
  }

  h3 {
    max-width: 80%;
  }
}

.background-txt {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  word-wrap: break-word;
  font-size: 18px;

  font-family: 'Rasa', serif;
}

.language-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
}

.language-box img {
  margin: 1rem;
  height: 50px;
}

.language-box-mobile {
  display: none;
}

@media only screen and (max-width: 650px)  {
  .language-box {
    display: none;
  }

  .language-box-mobile {
    display: block;
  }

  .language-box-mobile img {
    margin: 0 1rem;
    height: 40px;
  }
}

main {
  background: radial-gradient(70% 76.68% at 50% 50%, #F5F5F5 43.23%, rgba(238, 238, 238, 0) 88.54%);
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 3%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

section > * {
  margin-bottom: 2.4rem;
}

@media only screen and (max-height: 350px)  {
  section > * {
    margin-bottom: 1rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

nav *, .link-btn {
  color: var(--primary-color);
  background: none;
}

nav *:hover, .link-btn:hover {
  filter: brightness(80%);
  text-decoration: underline;
}

.btn:hover {
  filter: brightness(110%);
}

.field {
  height: 2.8rem;
  font-size: 1.25rem;
  white-space: nowrap;
  font-family: 'Calistoga', cursive;
  letter-spacing: 0.02em;
}

input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  padding: 0 .8rem;
  font-size: 1.4rem;
  font-family: 'Rasa', serif;
  outline:none;
}

.field-low {
  -moz-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.43);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.43);
  border-radius: 8px;
}

.field-high {
  box-shadow: -4px -4px 4px #FFFFFF, 3px 4px 4px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.field-blue {
  background: linear-gradient(110.36deg, #8FC8D5 -0.88%, #147E95 80.02%);
  color: white;
}

@media only screen and (max-width: 650px)  {
  main {
    background: radial-gradient(111.13% 68.09% at 50.09% 48.11%, #F5F5F5 43.23%, rgba(238, 238, 238, 0) 88.54%);
  }

  nav {
    flex-direction: column;
    justify-content: space-between;
  }

  nav > * {
    margin-bottom: 1.4rem;
  }

  section > * {
    margin-bottom: 1.4rem;
  }

}

.hidden {
  display: none !important;
}

.pane {
  padding: 4%;
  background-color:white;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
}

ul, ol {
  margin: 0;
  padding-left: 1rem;
}

li {
  margin-top: .6rem;
  font-size: 1.2rem;
  line-height: 127%;
}

hr {
  border: none;
  border-top: 1px solid grey;
  margin: 1rem 0;
}

.full-screen-pane {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-pane-content {
  background-color: white;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  padding: 3rem;
}

.pane-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 95%;
  max-width: 50rem;
  padding: 1rem;
}

.pane-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: none;
}

@media only screen and (max-width: 650px)  {
  .full-screen-pane-content, .pane {
    margin: .4rem;
    padding: 5%;
  }

  .pane-wrapper {
    max-height: 100%;
    padding: 0;
  }

  .pane-close-btn {
    top: 1rem;
    right: 1rem;
  }

  li {
    font-size: 1.1rem;
  }
}

#improvement_pane {
  z-index: 20;
}

#seite_sicher_pane {
  z-index: 18;
}

.mt-1 {
  margin-top: 1rem;
}

.impressum-content {
  text-align: center;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph-block {
  text-align: start;
}

.impressum-content > h4 {
  margin-top: 2.5rem;
  margin-bottom: .5rem;
}

.titel-impressum {
  font-family: 'Calistoga', cursive;
  font-weight: 400;
  font-size: 1.4rem;
}

.result-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
  min-width: 80%;
  min-height: 60%;
}

.result-content {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.check-result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-result-box > * {
  margin-top: 2rem;
}

.detailed-result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.detailed-result-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detailed-result-box img {
  margin-right: .5rem;
}

.repeat_check_btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}

#repeat_check_btn {
  flex-grow: 2;
  max-width: 30rem;
}

#progress_filled {
  background: linear-gradient(110.36deg, #8FC8D5 -0.88%, #147E95 80.02%);
  width: 0%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  filter: hue-rotate(200deg) opacity(.6) brightness(120%);
  transition: width .5s ease-out;
}

#progress_percent {
  position: absolute;
  z-index: 8;
  margin-top: .8rem;
  color: black;
}

.invert {
  filter: invert(1);
}

#terms_of_use_pane > div{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 8px 8px 0 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#terms_of_use_pane > div > div {
    margin: 1.5rem;
}

#terms_of_use_pane button {
  margin: 1.5rem;
  height: 2rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
}

@media only screen and (max-width: 650px)  {
  .titel-impressum {
    font-size: 1.2rem;
  }

  .result-screen {
    position: fixed;
    padding: 0;
    min-height: 100%;
    width: 100%;
  }

  .result-content {
    flex-direction: column;

  }

  .check-result-box {
    margin: 0;
  }

  .check-result-box > * {
    margin-top: 1rem;
  }

  #result_pane {
    overflow-y: auto;
    overflow-x: visible;
  }

  #terms_of_use_pane > div {
    flex-direction: column;
    align-items: center;
  }

  #terms_of_use_pane button {
    margin-top: 0rem;
  }
}

.entry-animation {
	-webkit-animation: fade-in .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: fade-in .5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 9:59:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.exit-animation {
	-webkit-animation: fade-out 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: fade-out 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-3 9:56:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
